<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhmtl" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/base.css" />
  <title>{% block title %}S.W.A.T. Textbooks{% endblock title %}</title>

  {% block head %}{% endblock %}
</head>

<body>
<div id="site-wrapper">
  <div id="header">
    {% block header %}
	<ul class="tabs">
	   <li id="tab-logo">
	     <a id="logo-link" href="/" title="S.W.A.T. Textbooks">S.W.A.T. Textbooks</a> 
	   </li>
	   <li id="tab-links">
	       <!-- <a href="/" title="Home">Home</a> -->
	       <a id="header-link" href="/"><h1>S.W.A.T. Textbooks</h1></a>
	   </li>
	   <li id="tab-search">
	     <form id="search" action="/searchresults" method="get">
	       <select name="type">
	         <option value="isbn">ISBN</option>
	         <option value="title">Title</option>
	         <option value="author">Author</option>
	         <option value="keyword">Keyword</option>
	       </select>
	       <input id="q" type="text" name="q" />
	     </form>
	   </li>
	</ul>
	{% endblock %}
  </div>
	
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    <p>Copyright | Contact | Sitemap</p>
    {% endblock %}    
  </div>
</div>
</body>

</html>