{% extends "base.html" %}

{% block head %}
<style type="text/css">
.book_data {
  min-height: 150px;
}

.highlight {
  background: orange;
}

.textbook_overlay {
    filter: alpha(opacity=70); /* for IE */
    opacity: .7;
    min-width: 760px; 
    min-height: 150px;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: 1000;
}
</style>

<script type="text/javascript">
//TODO: Trim trailing '/'
var pathparts = window.location.pathname.split('/');
var isbn = pathparts[pathparts.length - 1];
var retailers;
var textbook;
var textbooklistings = [];

$(function () {
   get_textbook();
   get_retailers();
});

function get_textbook() 
{
    $.ajax({
        url:'{{ url }}',
        dataType: 'json',
        success: function(data) {
            textbook = data;
            output_textbook(data,'div#textbook'); 
        },
        beforeSend: function(jpXHR, settings) {
            $('#textbook').addClass('book_data');
            $('<div class="textbook_overlay loader_img" />').appendTo('div#textbook');
            $('.overlay').fadeIn();
        },
        complete: function(jqXHR, textStatus) {
            $('#textbook_info').slideDown('slow', function () { // doesn't work as expected b/c height of div is not full height of image.
                $(this).addClass('book_data');
                $('.loader_img').fadeOut('slow', function() {
                    $('.loader_img').remove()
                });
            });
        }
    });
}

function output_textbook(data, selector)
{
        var container_id = 'textbook_info';
        var container_sel = '#' + container_id;

        $('<div id="'+container_id+'" />').hover(function() {
            $(this).addClass('highlight');
        }, function() {
            $(this).removeClass('highlight');
        }).addClass('clickable')
          .appendTo(selector)
          .hide();

        var imghtml = '<img class="bookimage" src="' + data.imageurl +'"></img>';
        var linkhtml = '<a href="' + data.url +'">' + data.title + '</a>';
        $(imghtml+linkhtml).appendTo(container_sel);

        $('<hr class="clear"/>').appendTo(selector);
        $("div.clickable").click( function() {
            window.location = $(this).children('a').attr('href');
            return false;
        });
      
}

function get_retailers() 
{
    $.ajax({
        url: '/retailers',
        dataType: 'json',
        success: function(data) {
            retailers = data;
            get_listings();
        }
    });
}

var debug;
function get_listings() 
{
    $.each(retailers, function(index, retailer) {
        $.ajax({
            url: '/textbooklistings/' + retailer + '/' + isbn,
            dataType: 'json',
            success: function (data) {
                //FIXME: concat not working
                textbooklistings.concat(data);
                output_listing(data);
            }
        });
    });
    
}

function output_listing (data) {
    $.each(data, function(index, listing) {
        $.each(listing, function(key, value) {
            
        });
    });
}
</script>
{% endblock head %}

{% block content %}
<div id="textbook"></div>
<div id="listings"></div>
{% endblock %}