{% extends "base.html" %}
   
{% block head %}
 <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/objects.js"></script>

<style type="text/css">
.highlight {
    background: orange;
}

#textbook {
    position: relative;
}

.book_data {
    min-height: 150px;
}

.textbook_overlay {
    position: relative;
}
</style>

<script type="text/javascript">
var path = window.location.pathname;
var trimpath = (path.slice(-1) == '/') ? path.slice(0,-1) : path;
var isbn = trimpath.split('/').slice(-1);

var retailers;
var textbook;
var textbooklistingsdata = [];
var done = [];

$(function () {
   get_textbook();
   get_retailers();
});

function get_textbook() 
{
    var overlay_container = 'div#textbook';
    $.ajax({
        url:'{{ url }}',
        dataType: 'json',
        success: function(data) {
            textbook = data;
            output_textbook(data,'div#textbook'); 
        },
        beforeSend: function(jpXHR, settings) {
            $('<div class="overlay loader_img book_data" />').appendTo(overlay_container).hide();
            $(overlay_container).addClass('book_data');
            $('.overlay').fadeIn();
        },
        complete: function(jqXHR, textStatus) {
            $('#textbook_info').slideDown('slow', function () { //TODO doesn't work as expected b/c height of div is not full height of image.
                $(this).addClass('book_data');
                $('.loader_img').fadeOut('slow', function() {
                    $(this).remove()
                });
            });
        }
    });
}

function output_textbook(data, selector)
{
        var container_id = 'textbook_info';
        var container_sel = '#' + container_id;

        $('<div id="'+container_id+'" />').hover(function() {
            $(this).addClass('highlight');
        }, function() {
            $(this).removeClass('highlight');
        }).addClass('clickable')
          .appendTo(selector)
          .hide();

        var imghtml = '<img class="bookimage" src="' + data.imageurl +'"></img>';
        var linkhtml = '<a href="' + data.url +'">' + data.title + '</a>';
        $(imghtml+linkhtml).appendTo(container_sel);

        $('<hr class="clear"/>').appendTo(selector);
        $("div.clickable").click( function() {
            window.location = $(this).children('a').attr('href');
            return false;
        });
}

function get_retailers() 
{
    $.ajax({
        url: '/retailers',
        dataType: 'json',
        success: function(data) {
            retailers = data;
            notdone = data
            get_listings();
        }
    });
}

var debug;
function get_listings() 
{
    var overlay_container = 'div#listings';
    $.each(retailers, function(index, retailer) {
        $.ajax({
            url: '/textbooklistings/' + retailer + '/' + isbn,
            dataType: 'json',
            success: function (data) {
                textbooklistingsdata = textbooklistingsdata.concat(data);
                done.push(retailer);
                
                if (retailers.length == done.length)  {
                    output_listing(data, 'div#listings');
                }
            },
    });
    
});
    
}

function output_listing (data, selector) {
    data.sort(textbooklistings.cmp_factory(['condition', 'price']));
    $.each(data, function(index, listing) {
        var container_id = 'listing' + index
        var header_id = container_id + '_header';
        var data_id = container_id + '_data';

        $('<div id="'+container_id+'" />').hover(function() {
            $('#'+header_id).addClass('highlight');
        }, function() {
            $('#'+header_id).removeClass('highlight');
        }).appendTo(selector)

        $('<div id="'+header_id+'" />').click(function() {
            $('#'+data_id).slideToggle();
        }).appendTo('#'+container_id)
        
        $('<h4>' + listing.price + '</h4>').appendTo('#'+header_id)
        
        $('<dl id="'+data_id+'" />').appendTo('#'+container_id)
                                    .slideUp();
        
        $.each(listing, function(key, value) {
            var termhtml = '<dt>' + key + '</dt>\n';
            var defhtml = '<dd>' + value + '</dd>\n';
            $('dl#'+data_id).append(termhtml+defhtml);
        });
        
        $('<hr />').appendTo('#'+container_id);
    });
}
</script>
{% endblock head %}

{% block content %}
<div id="textbook"></div>
<div id="listings"></div>
{% endblock %}