{% extends "base.html" %}

{% block content %}
<form name="mainsearch" id="mainsearch" action="/searchresults" method="get" onsubmit="return validateForm('mainsearch')">
           <select name="type" id="resize">
             <option value="isbn">ISBN</option>
             <option value="Title">Title</option>
             <option value="Author">Author</option>
             <option value="Keyword">Keyword</option>
           </select>
           <input id="resize" type="text" name="q" />
           <input id="resize" type="submit" value="Search" />
         </form>  
{% endblock%}