{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
$(function () {
    $.getJSON('{{ url }}', function(data) {
        output_json(data,'div#results');
    });       
});
   
function output_json(data, selector)
{
    $.each(data, function(index, value) 
    {
        var book_container_id = 'book'+index;
        var book_container_sel = '#' + book_container_id;
        var url = '{{url2}}' + '?url='+value.url+'&retailer='+'{{retailer}}';
        $('<div id="'+book_container_id+'" />').appendTo(selector);
        
        var book_data_id = book_container_id + '_data';
        $('<div id="'+book_data_id+'" />').hover(function() {
                $(this).addClass('highlight');
            }, function() {
                $(this).removeClass('highlight');
            }).addClass('clickable')
              //.attr('url',url)
              .appendTo(book_container_sel);
        
        var imghtml = '<img class="bookimage" src="' + value.imageurl +'"></img>';
        var linkhtml = '<a href="' + url +'">' + value.title + '</a>';                                                   
        $(imghtml + linkhtml).appendTo('#' + book_data_id);
        
        $(book_container_sel).append('<hr/>');
        
    }); // array each
    
    $("div.clickable").click( function() {
        window.location = $(this).children('a').attr('href');
        return false;
    });
}
   
</script>
{% endblock head %}

{% block content %}
<div id="results"></div>
{% endblock %}