{% extends "base.html" %}

{% block head %}
<style type="text/css">
</style>

<script type="text/javascript">
$(function () {
    get_results();
});

function get_results() 
{
    var overlay_container = 'div#content';
    $.ajax({
        url: '{{ url }}',
        dataType: 'json',
        success: function(data) {
            if (data == '')
                $('#results').append('<h1>Try Again</h1><p>We were unable to find any matches for your search.<p>')
            else
                output_results(data,'div#results');
        },
        beforeSend: function(jpXHR, settings) {
            $('#results').hide();            
            
            $('<div class="overlay loader_img" />').appendTo(overlay_container).hide();
            $(overlay_container).addClass('overlay_container');
            $('.overlay').fadeIn();
        },
        complete: function(jqXHR, textStatus) {
            $('#results').slideDown('slow', function() {
                $('.overlay').fadeOut('slow', function() {
                    $(this).remove()
                    $(overlay_container).removeClass('overlay_container');
                });
            });
        }
    });
}

function output_results(data, selector)
{
    $.each(data, function(index, value) 
    {
        var book_container_id = 'book'+index;
        var book_container_sel = '#' + book_container_id;
        var params = {url: value.url, retailer: '{{retailer}}' };
        var url = '{{url2}}?' + $.param(params);
        
        $('<div id="'+book_container_id+'" />').appendTo(selector);
        
        var book_data_id = book_container_id + '_data';
        $('<div id="'+book_data_id+'" />').hover(function() {
                $(this).addClass('highlight');
            }, function() {
                $(this).removeClass('highlight');
            }).addClass('clickable')
              .appendTo(book_container_sel);
        
        var imghtml = '<img class="bookimage" src="' + value.imageurl +'"></img>';
        $('<span />').append(imghtml).appendTo('#' + book_data_id);
        var linkhtml = '<a class="top" href="' + url +'">' + value.title + '</a>';
        $('<span />').append(linkhtml).appendTo('#' + book_data_id);
        
        $(book_container_sel).append('<hr/ class="clear">');
        
    }); // array each
    
    $("div.clickable").click( function() {
        window.location = $(this).children('a').attr('href');
        //return false;
    });
}

</script>
{% endblock head %}

{% block content %}
<div id="results"></div>
{% endblock %}